.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 7.2em 8.8em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow:before {
      background-position: 0em 0em;
      width: 2.2em;
      height: 3.8em;
  }




  .icon.menu:before {
      background-position: 0em -3.8em;
      width: 7.2em;
      height: 5em;
  }





